body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}

.pubName{
    color:white;
    padding-top: 50px;
    padding-left: 50px;
    font-size: 100px;
}

.pubDescription{
    color:#878787;
    font-size: 50px;
    font-weight: bolder;
    padding-left: 50px;
}

a{
    font-size: 30px;
    text-decoration: none;
}

p{
    font-size: 20px;
}

.collapsible {
    background-color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
    text-decoration: none;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}